{% if let Some(out) = stdout %} {% if let Some(err) = stderr %}
<button
  class="btn btn-primary"
  type="button"
  data-bs-toggle="collapse"
  data-bs-target="#collapse{{solution_id}}"
  aria-expanded="false"
  aria-controls="collapseExample"
>
  表示
</button>
{%if let Some(d) = created_at%} {{d}} {% endif %}
<div class="collapse" id="collapse{{solution_id}}">
  <p>stdout</p>
  <div class="card p-2 m-2">
    <div class="card-body">
      <pre>{{out}}</pre>
    </div>
  </div>
  <p>stderr</p>
  <div class="card p-2 m-2">
    <div class="card-body">
      <pre>{{err}}</pre>
    </div>
  </div>
</div>

{%else%}
<span
  hx-get="/solution/{{solution_id}}/output"
  hx-trigger="load delay:20s"
  hx-swap="outerHTML"
>
  確認中<img src="/public/ring.svg" />
</span>
{%endif%} {%else%}
<span
  hx-get="/solution/{{solution_id}}/output"
  hx-trigger="load delay:20s"
  hx-swap="outerHTML"
>
  確認中<img src="/public/ring.svg" />
</span>
{%endif%}
