{% extends "base.html" %} {% block title %}結果{% endblock %} {% block content
%}

<p>ステータス</p>
<p>{{problem_id}}</p>
{% for s in solutions %}
<div class="card p-2 m-2">
  <div class="card-body">
    <h2 class="card-title">
      結果<span
        hx-get="/solution/{{s}}/badge"
        hx-trigger="load"
        hx-swap="outerHTML"
      >
        <span class="htmx-indicator">バッジをロード中</span>
      </span>
    </h2>
    <span
      hx-get="/solution/{{s}}/output"
      hx-trigger="load"
      hx-swap="outerHTML"
    >
      <span class="htmx-indicator">出力をロード中</span>
    </span>
  </div>
</div>
{% endfor %} {% endblock %}
